ul{
    list-style-type: none;
  margin: 150px;
  padding: 14px,10px;
  overflow: hidden;
  background-color: darksalmon;
}
 li{
     float: right
 }
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  h1{
      text-align: left 

  }
  body {
    background-color: dimgray;
  }
  p{
     
      float: right;
  }
  img {
    float: left;
    width: 20%;
  }
 .wrapper{
    background-color: floralwhite;
    width: 20px;
}